body {
    font-size
}

.text {
    color: red;

}

#soup_box {
    padding-left: 100px;
}

#soup {
    max-width: 800px;
    height: auto;
}


/* use "." before a selector to select a class */
/* use "#" before a selector to select an id */